@theme {
	--color-mainCyan: var(--color-base-content);
	--color-chartBG: var(--color-base-100);
	--flex-full:12;
	--stroke-width-4:4px;
	--animation-duration-100:100ms;
	--animation-duration-200:200ms;
	--animation-duration-250:250ms;
	--animation-duration-300:300ms;
	--animation-duration-350:350ms;
	--animation-duration-350:500ms;
	--animation-duration-600:600ms;
	--animation-duration-800:800ms;
	--animation-duration-1000:1000ms;
}

@utility animation-* {
	animation-duration: --value(--animation-duration-*);
}

@utility step-* {
	&::before{
		--step-bg:--value(--color-*);
		--step-fg:--value(--color-*);
		--step-fg:--value(--color-*-content);
	}
}

@utility flex-* {
    flex: --value(--flex-*);
}

@utility d-init {
	display:initial;
}

@utility h-revert {
	height:revert;
}


@utility swap {
	@apply items-center;
	
	@apply hover:bg-primary/15;
	&:hover{
		@apply bg-base-content/10;
		@apply dracula:bg-base-content/30;
	}
	@apply transition-[background,border,text] duration-300;
	>input {
		@apply transition-[background,border,text] duration-300;
		@apply shadow-[none];
		@apply w-[inherit] h-[inherit];
		outline: none;
		&:focus-visible{
			outline: none;
			outline-width: 0;
			@apply bg-base-content/10;
			@apply rounded-lg;
			@apply dracula:bg-base-content/30;
		}
	}
	>.swap-on, >.swap-off{
		@apply m-auto;
	}
}
@utility table {
	:where(th) {
		padding: 3px;
	}
}
@utility btn {
	outline: none;
	@apply h-auto;
	@apply transition-[background,border,text] duration-300;
	@apply shadow-[none];
	&:focus-visible{
		outline: none;
		outline-width: 0;
		@apply bg-base-content/10;
		@apply dracula:bg-base-content/10;
	}
	&:hover{
		@apply bg-base-content/10;
		@apply dracula:bg-base-content/10;
	}
}

@custom-variant active-link {
	&.router-link-active {
		@slot;
	}
}


@custom-variant dracula {
	&:where([data-theme=dracula], [data-theme=dracula] *) {
		@slot;
	}
}